body{
    margin: 0;
    padding: 0;
}

header{
    background-color:#fac20a;
    width: 100%;
    height: 500px;
    padding-top: 15px;
}

nav{
    background-color: black;
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    margin: 0px auto 0 auto;
    border-radius: 5px;
}

nav #logo{
    margin: 25px;
    float: left;
}

nav #logo img{
    height: 75px;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: left;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

nav ul li a{
    padding: 55px 20px 55px 0;
    float: left;
    transition: rgb(255, 187, 0) 1s; /* testando cor mouse em cima*/
}

nav #menu_principal {
    float: right;
    margin-right: 100px;
}
span{
    color: rgb(228, 228, 228);
    font-size: 11 px;
}

#menu_principal li span{
    font-family: Montserrat, sans-serif;
    margin-right: 3px;
    margin-top: 55px;
    float: left;
}

#menu_principal li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase; /* Deixa todo o texto maisculo*/
}

/* ---------------------------------------- Parallelo 2 -----------------------------------------*/

#parallelo2{
    background-color: rgb(255, 255, 255);
}