body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../imagens/slidebg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 720px;
    padding-top: 15px;
}

nav{
    background-color: black;
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    margin: 0px auto 0 auto;
    border-radius: 5px;
}

nav #logo{
    margin: 25px;
    float: left;
}

nav #logo img{
    height: 75px;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: left;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a{
    padding: 55px 20px 55px 0;
    float: left;
}

nav #menu_principal {
    float: right;
    margin-right: 100px;
}
span{
    color: rgb(228, 228, 228);
    font-size: 11 px;
}

#menu_principal li span{
    font-family: Montserrat, sans-serif;
    margin-right: 3px;
    margin-top: 55px;
    float: left;
}

#menu_principal li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase; /* Deixa todo o texto maisculo*/
    text-decoration: none;
    transition: 1s;
}

#menu_principal li a:hover{
  color:#e7a920;
  transition: 1s;
  text-decoration: line-through;
}

section{
    background-image: url(../imagens/divider-dark.png);
    width: 100%;
    height: 500px;
    background-repeat: repeat-x;
    padding-top: 100px; /* margem interna */

}

section{}

.icons{
    height: 100px;
    width: 345px;
    margin: 0 auto; /* margem externa */
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

/* Arrumar depois essa bagunça de icon e txt*/

.icons .icon img{
    width: 108px;
}
.icons .icon1 img{
    width: 91px;
}
.icons .icon2 img{
    width: 97px;
}

.txt{
    height: 100px;
}

.txt{
    width: 850px;
    margin: 0 auto;

}
.txt h6{
    font-size: 28px;
    font-weight: 300;
    width: 80%;
    line-height: 40px;
    font-family:'Roboto Slab', serif; /* carregar a fonte no google fonte */
    text-align: center;
    margin: 0;
    margin-left: 80px;
    margin-top: 20px;
}   

section.trabalhos{ /* Seção teste "nossos projetos" */
    background: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: -150px;
}

.txt1 h6{
    font-size: 25px;
    font-weight: 320;
    width: 100%;
    color: #e7a920;
    margin: 0 auto 0 auto;
    font-style: italic;
    
}
.txt2 h6{
    font-size: 85px;
    font-weight: 750;
    width: 100%;
    color: black;
    margin: 0 auto 0 auto;
    text-decoration: double;
    font-style: italic;
    text-transform: uppercase;
}

.icone{
    margin-top: 13px;

}

.txt3 h6{
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    color: black;
    margin: 0 auto 0 auto;
    margin-top: 20px;

}

/* ---------------------------------------------------------------------------------*/

#parallelo2{
    background-color: rgb(255, 255, 255);
}
